* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* +++++++++++++++++++++++++++++++++++++ general ++++++++++++++++++++++++++++++++++ */

.c-m-block {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.c-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.c-h1 {
    font-size: 2.3vw;
    margin-bottom: .5rem;
}

/* ++++++++++++++++++++++++++++++++++==== page1 ++++++++++++++++++++++++ */

#main {
    padding-inline: 7vw;
    position: relative;
    overflow-x: hidden;
    /* padding-bottom: 5rem; */
}

#page-1 {
    width: 100%;
    height: auto;
    padding-bottom: 6.5rem;
    position: relative;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    /* overflow: hidden; */
}

#logo-center {
    display: flex;
    column-gap: 5vw;
    align-items: center;
}

#logo h4 {
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
    /* transition: .3s ease-in-out; */
}

#logo h4:hover {
    color: #0088a1;
}

#center {
    display: flex;
    align-items: center;
    column-gap: 4vw;
}

#center h4 {
    font-size: 1.1vw;
    font-weight: 400;
    cursor: pointer;
    /* transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#center h4:hover {
    color: #0088a1;
    border-bottom: 2px solid #0088a1;
}

#center i {
    font-weight: 800;
    font-size: 1.2rem;
}

#center i:hover {
    font-size: 1.5rem;
    color: #0088a1;
    rotate: 80deg;
}

#last {
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

#last h4 {
    font-size: 1.1vw;
    font-weight: 400;
}

#last h4:hover {
    color: #0088a1;
    cursor: pointer;
}

#last :last-child {
    padding: .8rem 1.3rem;
    background-color: #0088a1;
    color: white;
    border-radius: 50rem;
    cursor: pointer;
    /* transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#last :last-child:hover {
    color: white;
    background-color: black;
}

#nav-search {
    display: none;
}

.nav-pop-up {
    display: none;
}

#hero {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
    /* background: url('https://imagesa.unsplash.com/photo-1541417904950-b855846fe074?q=80&w=2041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: top;
    border-radius: 1.5rem;
    color: white;
    padding-inline: 6vw;
    background-color: rgb(255, 255, 255);
    padding-block: 3rem;
}

#hero-content {
    width: 100%;
    z-index: 1;
    position: relative;
    user-select: none;
    padding-bottom: 5%;
}

#hero-content div {
    overflow: hidden;
}

#hero-content p {
    text-transform: capitalize;
    font-size: 1.2rem;
}

#hero-content h1 {
    font-size: 6vw;
}

#temp-payment {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#temperature {
    display: flex;
    justify-content: center;
    align-items: center;
}

#temperature i {
    padding: .7rem;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-right: .5rem;
}

#payment {
    display: flex;
    position: relative;
    column-gap: 1.2rem;
    align-items: center;
}

#payment-logo {
    display: flex;
    justify-content: center;
}

#payment #payment-logo i {
    padding: 1rem;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    border-radius: 10rem;
}

#payment-details h3 {
    text-decoration: underline;
    margin-top: .5rem;
}

#filter {
    position: absolute;
    bottom: -15%;
    width: 60vw;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3vw;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0px 0px 46px 10px rgb(0 0 0 / 25%);
    z-index: 1;
    border: 1px solid #0088a1;
}

#filter h4 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
    font-weight: 400;
}

#filter .search {
    padding: 1.3rem;
    background-color: #0088a1;
    color: white;
    border-radius: .5rem;
    font-size: 1.5rem;
    /* transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#filter .search:hover {
    /* rotate: 80deg; */
    color: white;
    box-shadow: rgba(0, 136, 161, 0.2) 0px 15px 20px 8px;
    background-color: black;
}

.icon {
    font-size: 1.3rem;
    position: relative;
    top: 0.15rem;
    left: 0.5rem;
}

#loc {
    border: 1px solid #0088a1;
    border-radius: .3rem;
    padding: 0.2rem 0.5rem;
    width: 100%;
}

#loc:focus {
    outline: none;
}

#activity form select {
    width: 100%;
}

#dat {
    border: 1px solid #0088a1;
    border-radius: .3rem;
    padding: 0.2rem 0.5rem;
}

#date input {
    width: 100%;
}

#dat:focus {
    outline: none;
}

#selectany {
    border: 1px solid #0088a1;
    border-radius: .3rem;
    padding: 0.2rem 0.5rem;
}

#selectany:focus {
    outline: none;
}

/* ++++++++++++++++++++++++++++++++++ select categroy section ++++++++++++++++++++++++ */

.btn .swiper-mySwiper i {
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    margin-left: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn .swiper-mySwiper i:hover {
    background-color: black;
    color: white;
}

/*++++++++++++++++++++++++++++++++ swiper for select category +++++++++++++++++++++++++++++++ */
#select {
    height: max-content;
}

.swiper1 {
    width: 120%;
    height: 14rem;
    padding: .5rem;
    position: relative;
    overflow-x: hidden;
}

.swiper-category {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: .5rem;
    box-shadow: -4px 4px 0px 0px rgb(0 0 0 / 25%);
    flex-direction: column;
    padding: 1rem;
}

.swiper-category .rating {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.1rem 0.5rem;
    background: #E48F45;
    border-radius: 1rem;
    color: white;
    font-size: .9rem;
}

.swiper-category div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    row-gap: .5rem;
    line-height: 1rem;
}

.swiper-category div h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

.swiper-category div p {
    font-size: .9rem;
}

.swiper-category div i {
    font-size: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    color: #0088a1;
}

/* +++++++++++++++++++++++== trending +++++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++ swiper for trending ++++++++++++++++++++++++ */

.swiper2 {
    width: 130%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.swiper-trending {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    border-radius: .5rem;
    flex-direction: column;
    position: relative;
    padding: .5rem;
    padding-bottom: 1rem;
    border: .5px solid #0088a1;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.swiper-padding {
    padding: .5ren;
}

.swiper-trending .trending-img {
    width: 100%;
    height: 13.5vw;
    border-radius: .5rem;
    overflow: hidden;
}

.swiper-trending .trending-img img {
    width: 100%;
}

.trending-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: .5rem;
    text-align: left;
}

.trending-about .trending-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    align-items: center;
}

.trending-about .trending-heading h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

.trending-about .trending-heading i {
    font-size: 1.5rem;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.trending-about .trending-heading i:hover {
    color: #0088a1;
}

.trending-about .trending-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.trending-price h3 {
    font-size: 1.5rem;
}

.trending-price .rating .star i {
    font-size: .8rem;
}

.trending-price .rating p {
    font-size: .8rem;
}

.trending-about .cancellation {
    display: flex;
    font-size: .9rem;
    column-gap: .7rem;
    margin-top: .5rem;
    /* text-wrap: nowrap; */
}

.cancellation p {
    color: black;
    padding-block: .2rem;
    padding-inline: .5rem;
    border-radius: .3rem;
    border: 1px solid #0088a1;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cancellation P:hover {
    background-color: #0088a1;
    color: white;
}

.heading-para {
    font-size: .9rem;
    margin-top: .3rem;
}

.heading-from {
    font-size: .9rem;
    margin-top: 1.5rem;
    margin-bottom: -.5rem;
}

.price-varies {
    font-size: .9rem;
    margin-top: -.5rem;
}

.days {
    margin-top: 1.5rem;
    font-size: .9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: .3rem;
}

.days i {
    color: #0088a1;
    font-size: 1.2rem;
}

/* +++++++++++++++++++++++++++++++=== destination ++++++++++++++++++++++++++++ */

.destination-gallery {
    display: grid;
    grid-template-areas:
        'one one three three three four four four'
        'two two three three three five six six';
    gap: 1.6rem;
    height: 85vh;
}

.destination-gallery .gal-img {
    background-color: black;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
}

.destination-gallery .one {
    background: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    grid-area: one;
}

.destination-gallery .two {
    background: url('https://images.unsplash.com/photo-1519999482648-25049ddd37b1?q=80&w=1452&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    overflow: hidden;
    background-position: center;
    grid-area: two;
    background-size: cover;
}

.destination-gallery .three {
    background: url('https://images.unsplash.com/photo-1486272812091-a9bf3c6376c5?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    grid-area: three;
}

.destination-gallery .four {
    background: url('https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    grid-area: four;
}

.destination-gallery .five {
    background: url('https://images.unsplash.com/photo-1549742324-b463bc9dd374?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    grid-area: five;
}

.destination-gallery .six {
    background: url('https://images.unsplash.com/photo-1594179611723-323a2093430e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    grid-area: six;
}

.gal-rating {
    font-size: .8rem;
    padding: 0.2rem 0.8rem;
    background-color: #e48f45;
    color: white;
    border-radius: 2rem;
    width: min-content;
}

.gal-text {
    padding: 0.5rem;
    position: absolute;
    bottom: 1.5rem;
    line-height: 1.2rem;
    color: white;
    backdrop-filter: blur(2px);
    width: min-content;
    border-radius: 0.5rem;
    background-color: rgb(84 84 84 / 50%);
}

.gal-text h3 {
    font-weight: 500;
}

.gal-text p {
    font-size: .8rem;
}

/* ++++++++++++++++++++++++++++++++++++++++ best Seller +++++++++++++++++++++++++++ */

.check {
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    color: rgb(0 0 0);
    font-weight: 400;
    border: 2px solid;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    cursor: pointer;
}

.check:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.seller-gallery {
    display: flex;
    column-gap: 1.5rem;
}

.seller-container {
    width: 100%;
}

.seller-img:hover .seller-rating {
    opacity: 1;
    margin-top: 0;
}

.seller-img:hover .seller-content {
    opacity: 1;
    margin-top: 0;
}

.seller-img-1,
.seller-img-2,
.seller-img-3 {
    width: 100%;
    height: 17rem;
    border-radius: 1.5rem;
    position: relative;
    padding: 1.5rem;
    display: flex;
}

.seller-gallery .seller-img-1 {
    background: url('https://images.unsplash.com/photo-1614591276564-7b3e69347a48?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.seller-gallery .seller-img-2 {
    background: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.seller-gallery .seller-img-3 {
    background: url('https://images.unsplash.com/photo-1509316785289-025f5b846b35?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.seller-rating {
    font-size: .8rem;
    padding: 0.2rem 0.5rem;
    background-color: #e48f45;
    color: white;
    border-radius: 2rem;
    width: min-content;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    opacity: 0;
    margin-top: .5rem;
    transition: all 0.2s ease-in-out;
}

.seller-content {
    opacity: 0;
    flex-direction: column;
    color: white;
    width: 100%;
    align-self: end;
    margin-top: .5rem;
    transition: all 0.2s ease-in-out;
}

.seller-content div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seller-content h3 {
    font-size: 1rem;
    font-weight: 400;
    backdrop-filter: blur(5px);
    padding: 0.7rem 1.2rem;
    background-color: white;
    color: black;
    border-radius: 2rem;
}

.seller-content div div {
    display: flex;
    column-gap: .5rem;
    align-items: center;
}

.seller-content div div h4 {
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    border-radius: 2rem;
    color: black;
    padding: 0.8rem 1.3rem;
}


.seller-content div div i {
    background-color: white;
    color: black;
    padding: .8rem;
    border-radius: 2rem;
}

.seller-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-info h3 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.seller-info p {
    text-align: center;
    font-size: 1rem;
    width: 80%;
}

/* +++++++++++++++++++++++++++++++++++= tour guides +++++++++++++++++++++++++++++++ */

.swiper3 {
    width: 160%;
    height: 33vw;
    position: relative;
    overflow-x: hidden;
}

.swiper-guide {
    display: flex;
    column-gap: 2rem;
}

.guide-img {
    width: 40%;
    border-radius: 1rem;
    position: relative;
}

.guide-img-1 {
    background: url('https://images.unsplash.com/photo-1542103131-b4a52ad279d0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fHBob3RvZ3JhcGhlcnxlbnwwfDF8MHx8fDA%3D');
    background-size: cover;
}

.guide-img-2 {
    background: url('https://images.unsplash.com/photo-1612010863730-1e63673ca37d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDh8fHRvdXIlMjBndWlkZXxlbnwwfDF8MHx8fDA%3D');
    background-size: cover;
    background-position: bottom;
}

.guide-img-3 {
    background: url('https://images.unsplash.com/photo-1495366691023-cc4eadcc2d7e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fHBlcnNvbnxlbnwwfDF8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
}

.guide-img-4 {
    background: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fHBlcnNvbnxlbnwwfDF8MHx8fDA%3D');
    background-size: cover;
    background-position: center;
}

.guide-img p {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    backdrop-filter: blur(6px);
    background-color: rgb(255 255 255 / 66%);
    border-top-right-radius: 1rem;
}

.guide-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: 2.5rem;
}

.guide-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 3.5rem;
}

.guide-info h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-block: 1.2rem;
}

.guide-info h1 {
    font-weight: 500;
}

.guide-info-fchild {
    color: #0088a1;
    /* font-weight: 100; */
}

.guide-about div p {
    color: gray;
}

.guide-social {
    margin-top: 2rem;
    font-size: 1.3rem;
    display: flex;
    column-gap: 1rem;
}

.guide-social i {
    padding: 0.5rem;
    color: black;
    border-radius: 0.5rem;
    border: 1.5px solid #000000;
    transition: .2s ease-in-out
}

.guide-social i:hover {
    color: white;
    background-color: #0088a1;
    border: 1.5px solid #0088a1;
    box-shadow: rgba(0, 136, 161, 0.2) 0px 15px 20px 8px;
}

/* <!-- ++++++++++++++++++++++++++++++++++++++ experience +++++++++++++++++++++++++ --> */

#experiance {
    margin-top: 7rem;
    background: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 25rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#experiance .experiance-cont h1 {
    font-size: 2.7rem;
    font-weight: 400;
    text-transform: capitalize;
}

.experiance-cont p {
    margin-block: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.experiance-cont button {
    padding: 1rem 1.5rem;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    border: 0;
    border-radius: 2rem;
    color: #0088a1;
    transition: .2s ease-in-out;
}

.experiance-cont button:hover {
    background-color: rgb(0 0 0 / 0%);
    border: 2px solid white;
    color: white;
}

/* +++++++++++++++++++++++++++++++++++++++++++====== adventure ++++++++++++++++++++++++++++++++++=== */

#adventure {
    display: flex;
    height: 30rem;
    margin-top: 7rem;
}

#adventure .adv-gallery,
.adv-content {
    width: 50%;
}

.adv-content {
    padding-left: 3rem;
    display: flex;
    align-items: center;
}

.adv-content:first-child {
    background-color: #0088a1;
}

.adv-gallery {
    display: grid;
    grid-template-areas:
        'one two'
        'one three';
    gap: 1.5rem;
}

.adv-gallery .adv-img {
    width: 100%;
    border-radius: 1rem;
}

.adv-img-1 {
    background: url('https://images.unsplash.com/photo-1551740994-7af69385a217?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGFkdmVudHVyZXxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    background-color: black;
    grid-area: one;
}

.adv-img-2 {
    background: url('https://images.unsplash.com/photo-1592208128295-5aaa34f1d72b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjI1fHxhZHZlbnR1cmV8ZW58MHwwfDB8fHww');
    background-size: cover;
    background-color: black;
    grid-area: two;
}

.adv-img-3 {
    background: url('https://images.unsplash.com/photo-1682687220198-88e9bdea9931?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxzZWFyY2h8ODN8fGFkdmVudHVyZXxlbnwwfDB8MHx8fDA%3D');
    background-size: cover;
    background-color: black;
    grid-area: three;
}

.adv-content div:nth-child(1) {
    width: 80%;
}

.adv-content div:nth-child(1) h3 {
    font-weight: 400;
    color: #0088a1;
}

.adv-content div:nth-child(1) h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-block: 1rem;
}

.adv-content div:nth-child(1) p {
    text-transform: capitalize;
}

.adv-content div .reply {
    text-transform: capitalize;
    font-size: 1rem;
}

.email {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 15px 20px 8px rgb(0 136 161 / 20%);
    margin-block: 3rem;
    border-radius: .7rem;
    border: 1px solid #0088a1;
    width: 100%;
    height: 4rem;
}

.email i {
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
    margin-inline: 1.5rem;
}

.email input:focus {
    border: none;
    outline: none;
}

.email input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}

.email button {
    background-color: #0088a1;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    height: 100%;
    text-wrap: nowrap;
    padding-inline: 1.5rem;
}

/* +++++++++++++++++++++++++++++++++++++++== logo ++++++++++++++++++++++++++++ */

#logo-btm {
    margin-top: 8rem;
}

#logo-btm .logo-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo-btm .logo-cont .logo-img {
    width: 8rem;
    overflow: hidden;
}

#logo-btm .logo-cont .logo-img img {
    width: 100%;
    align-items: center;
    filter: grayscale(100%);
}

/* +++++++++++++++++++++++++++++++++++++++== question  ++++++++++++++++++++++++++++ */

.question-div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.question-div h1 {
    font-weight: 600;
}

.question-gallery {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.question-gallery div {
    width: 40%;
    height: 25rem;
    background-color: rgb(0 215 255 / 12%);
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    padding-top: 4rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    color: #000000;
    border: 1.6px solid rgb(2 184 255);
}

.question-gallery div i {
    font-size: 2.8rem;
    padding: 1.3rem;
    border-radius: 5rem;
    color: #000000;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000000;
}

.question-gallery div p {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}

.question-gallery div h4 {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

.question-gallery div h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

/* ++++++++++++++++++++++++++++++++++++++++== footer +++++++++++++++++++++++++++++++++++++ */

#footer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 2.5rem;
    margin-bottom: 1rem;
}

.quick-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quick-links div:nth-child(1) {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.quick-links div:nth-child(1) i {
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 2rem;
}

.quick-links:hover i {
    rotate: 90deg;
}

.quick-links div:nth-child(1) p {
    margin-left: 2.5rem;
}

.quick-links div:nth-child(2) {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.quick-links p {
    font-size: 1rem;
}

.get-in-touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
}

.get-in-touch p {
    font-size: 1.2rem;
}

.get-in-touch div:nth-child(1) {
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.get-in-touch div:nth-child(1) p {
    color: #0088a1;
}

.get-in-touch div:nth-child(1) h1 {
    font-weight: 600;
}

.get-in-touch div:nth-child(2) {
    display: flex;
    column-gap: 1.5rem;
}

.office i {
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.get-in-touch div:nth-child(2):hover .office i {
    margin-left: 1rem;
}

.get-in-touch div:nth-child(2) div {
    flex-direction: column;
    row-gap: .5rem;
    position: relative;
}

.get-in-touch div:nth-child(2) i:nth-child(1) {
    font-size: 2.5rem;
    height: max-content;
    border-radius: 4rem;
    background-color: #e0faff;
    padding: 0.7rem 0.8rem;
    border: 1.5px solid #02b8ff;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.get-in-touch div:nth-child(2):hover i:nth-child(1) {
    transform: rotateY(180deg);
}

.get-in-touch div:nth-child(2) div i {
    font-size: 2rem;
}

.get-in-touch div:nth-child(2) p:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;
}

.get-in-touch div:nth-child(2) div p:nth-child(2) {
    font-weight: 600;
}

.act-links {
    display: flex;
    /* column-gap: 5rem; */
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;

}

.act-links div:nth-child(1) {
    width: 60%;
}

.act-links div:nth-child(2) h1 {
    font-weight: 600;
}

.act-links div:hover {
    cursor: pointer;
}

.last-arr {
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.act-links div:nth-child(2) h1:hover .last-arr {
    margin-left: 1rem;
}

.act-links div:nth-child(2) p {
    font-size: 1.2rem;
    color: #02b8ff;
}

.act-links div:nth-child(2) {
    width: 40%;
}

.act-links div:nth-child(1) {
    display: flex;
}

.act-links div:nth-child(1) div {
    display: flex;
    flex-direction: column;
    width: max-content;
    row-gap: .5rem;
    text-wrap: nowrap;
    width: 100%;
}

.act-links div:nth-child(1) div h3 {
    font-weight: 500;
    margin-bottom: 1rem;
}

.act-links div:nth-child(1) div p {
    color: gray;
    font-size: .9rem;
}

.privacy-social {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.privacy-social p {
    font-size: 1rem;
    font-weight: 500;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright div {
    display: flex;
    align-items: center;
}

.copyright div img {
    scale: .8;
}

.copyright p {
    font-size: .9rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    border-radius: 1.5rem;
    overflow: hidden;
}

/* .swiper-container .swiper-wrapper */

.swiper-container .swiper-wrapper div:nth-child(1) {
    background: url('https://images.unsplash.com/photo-1422493757035-1e5e03968f95?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(2) {
    background: url('https://images.unsplash.com/photo-1522878129833-838a904a0e9e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(3) {
    background: url('https://images.unsplash.com/photo-1682687981922-7b55dbb30892?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(4) {
    background: url('https://images.unsplash.com/photo-1501854140801-50d01698950b?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(5) {
    background: url('https://images.unsplash.com/photo-1475518845976-0fd87b7e4e5d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(6) {
    background: url('https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.swiper-container .swiper-wrapper div:nth-child(7) {
    background: url('https://images.unsplash.com/photo-1462007895615-c8c073bebcd8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* background: url('https://images.unsplash.com/photo-1493134799591-2c9eed26201a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-size: cover;
    background-position: top;
}

.swiper-container .swiper-wrapper div {
    filter: brightness(.8);
}

@media screen and (max-width: 1374px) {
    #filter {
        position: absolute;
        align-items: center;
        justify-content: space-between;
        transform: translateX(-50%);
        box-shadow: 0px 0px 46px 10px rgb(0 0 0 / 25%);
        top: 105%;
        padding-block: 3.5rem;
        width: 100%;
        z-index: initial;
        margin-bottom: 1rem;
    }

    #location,
    #activity,
    #date {
        width: calc(100%/4);
    }

    #page-1 {
        padding-bottom: 15vw;
    }

    #hero-content {
        padding-bottom: 0;
    }

    #center h4 {
        font-size: .9rem;
    }

    #logo h4 {
        font-size: 1.8rem;
    }

    #last h4 {
        font-size: .9rem;
    }

    #hero-content h1 {
        font-size: 6vw;
    }

}

@media screen and (max-width: 1176px) {
    #hero-content h1 {
        font-size: 4.5rem;
    }

    #hero-content p {
        font-size: 1rem;
    }

    #payment #payment-logo i {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 866px) {

    .nav-pop-up {
        right: -100%;
        position: fixed;
        width: 50%;
        background-color: #00000082;
        color: white;
        z-index: 100;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .show {
        right: 0%;
    }

    #pop-up .ri-close-line {
        position: absolute;
        top: 3rem;
        right: 3rem;
        padding: 1rem;
        font-size: 2rem;
        border: 1px solid white;
        border-radius: 50%;
    }

    #pop-up div {
        cursor: pointer;
    }

    #pop-up div a {
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: white;
        padding-block: 1rem;
    }

    #nav-search {
        display: block;
        font-size: 1.3rem;
        display: flex;
        column-gap: 2rem;
    }

    .nav-pop-up {
        position: fixed;
    }

    #hero-content h1 {
        line-height: 100%;
        text-align: center;
        font-size: 9vw;
    }

    #payment-details {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    }

    #temp-payment {
        margin-top: 0;
        flex-wrap: wrap;
        column-gap: 8rem;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }

    #hero-content {
        row-gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #payment #payment-logo i {
        font-size: 1.3rem;
    }

    #last {
        display: none;
    }

    #nav #center {
        display: none;
    }

    #payment {
        display: flex;
        justify-content: center;
        backdrop-filter: blur(10px);
        background-color: #ffffff0f;
        border-radius: 5rem;
        border: 1px solid #ffffff8c;
        padding: 1.5vw 2.5vw;
    }

    #payment-details h3 {
        margin-top: 0;
        padding: .7rem 1.5rem;
        background-color: white;
        text-decoration: none;
        color: black;
        border-radius: 3rem;
        font-weight: 400;
        font-size: 1rem;
    }
}

@media screen and (max-width: 692px) {

    #hero-content h1 {
        line-height: 100%;
        text-align: center;
        font-size: 12vw;
    }

    #payment-logo {
        display: none;
    }

    #payment-details p {
        display: none;
    }

    #payment {
        padding: 0;
    }

    #temp-payment {
        justify-content: center;
        column-gap: 2rem;
        margin-top: 1rem;
        backdrop-filter: blur(10px);
        border-radius: 5rem;
        background-color: #ffffff17;
        border: 1px solid #ffffff8c;
        padding: 2vw 2.5vw;
    }

    #pop-up div a {
        font-size: 4vw;
    }
}

@media screen and (max-width: 454px) {

    .nav-pop-up {
        width: 100%;
    }

    #hero-content h1 {
        line-height: 100%;
        text-align: center;
        font-size: 15vw;
    }

    #temp-payment {
        padding: 0;
        flex-direction: column;
        backdrop-filter: blur(0);
        border: 0;
        border-radius: 0;
        background-color: #fff0;
    }

    #payment-details h3 {
        backdrop-filter: blur(10px);
        background-color: #00000054;
        color: #fff;
        font-weight: 500;
    }

    #pop-up div a {
        font-size: 5vw;
    }

    .nav-pop-up {
        text-align: center;
    }

}